Successful run at Mac with v3.8.1!

Import Libraries

In [6]:
# pip install pandas

import pandas as pd

In [13]:
# create a dataframe
module_score = pd.DataFrame()

# create columns
module_score['Module_code'] = ['INF6060','INF6033','INF6027','INF6029','INF6032','INF6050','INF6028','INF6430','INF6340','INF6000']
module_score['Module_name'] = ['Information Retrieval','Data and Society','Introduction to Data Science','Data Analysis','Big Data Analytics','Database Design','Data Mining and Visualisation','User Interface Design','Research Methods','Dissertation']
module_score['Score'] = [62,66.4,58,56.4,66,80.2,75,60,75,80]
module_score['Weight'] = [15,15,15,15,15,15,15,15,15,45]

module_score

  Module_code                    Module_name  Score  Weight
0     INF6060          Information Retrieval   62.0      15
1     INF6033               Data and Society   66.4      15
2     INF6027   Introduction to Data Science   58.0      15
3     INF6029                  Data Analysis   56.4      15
4     INF6032             Big Data Analytics   66.0      15
5     INF6050                Database Design   80.2      15
6     INF6028  Data Mining and Visualisation   75.0      15
7     INF6430          User Interface Design   60.0      15
8     INF6340               Research Methods   75.0      15
9     INF6000                   Dissertation   80.0      45

In [14]:
# uppercase dataframe's columns
def lowercase_cols(df):
    df.columns = df.columns.str.lower()
    return df

# set dataframe's index
def set_index(df,col_name = ''):
    if col_name in df.columns:
        df = df.set_index(col_name)
    return df

(module_score.pipe(lowercase_cols).pipe(set_index, 'MODULE_CODE'))

  module_code                    module_name  score  weight
0     INF6060          Information Retrieval   62.0      15
1     INF6033               Data and Society   66.4      15
2     INF6027   Introduction to Data Science   58.0      15
3     INF6029                  Data Analysis   56.4      15
4     INF6032             Big Data Analytics   66.0      15
5     INF6050                Database Design   80.2      15
6     INF6028  Data Mining and Visualisation   75.0      15
7     INF6430          User Interface Design   60.0      15
8     INF6340               Research Methods   75.0      15
9     INF6000                   Dissertation   80.0      45

Functions

In [17]:
credit_total = module_score['weight'].sum()

# module_score['score'] * module_score['weight'] / credit_total
module_score['weighted_score'] = module_score.apply(lambda x: x['score'] * x['weight'] / credit_total, axis = 1)
module_score['weighted_score'].sum()
module_score

  module_code                    module_name  score  weight  weighted_score
0     INF6060          Information Retrieval   62.0      15        5.166667
1     INF6033               Data and Society   66.4      15        5.533333
2     INF6027   Introduction to Data Science   58.0      15        4.833333
3     INF6029                  Data Analysis   56.4      15        4.700000
4     INF6032             Big Data Analytics   66.0      15        5.500000
5     INF6050                Database Design   80.2      15        6.683333
6     INF6028  Data Mining and Visualisation   75.0      15        6.250000
7     INF6430          User Interface Design   60.0      15        5.000000
8     INF6340               Research Methods   75.0      15        6.250000
9     INF6000                   Dissertation   80.0      45       20.000000